<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<script>
    angular.module('app',[])
            .controller('ctrl',function ($scope) {

                var a1=["cc","ct","tt"];
                var b1=["aa","ag","gg"];
                var c1=["zz","zk","kk"];
                var d1=["ff","fj","jj"];

                var All=[a1,b1,c1];
                var Arr=[];
                var L=Math.pow(All[0].length,All.length);
                for(var i=0;i<L;i++){

                    var arr=[];
                    for(var j=0;j<All.length;j++){
                        arr.push(shuchu1(i,j,All,All[0].length));
                    }
                    console.log('')
                    Arr.push(arr)
                }

                function shuchu1(i,j,All,len){
                    console.log('i=',i,';j=',j)
                    return All[j][  (parseInt(  i/Math.pow(len,j)   )  )%len   ];
                }

                $scope.list=Arr;
            })
</script>
<div ng-controller="ctrl">
    <table class="table-bordered table table-responsive table-striped table-hover">
        <thead>
        <tr>
            <td>number</td>
            <td>rs1</td>
            <td>rs2</td>
            <td>rs3</td>
        </tr>
        </thead>
        <tbody>
        <tr
                ng-repeat="rs in list"
        >
            <td>{{$index+1}}</td>
            <td
                    ng-repeat="td in rs"
            >
                {{td}}
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>