<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
<!--Array("rs3","aa","at","tt")-->
<script>
    /*var rsA=['c','t']
    var rsB=['a','g']
    var rsC=['z','k']
    var newRsA=[];
    for(var i=0;i<rsA.length;i++){
        for(var j=0;j<rsA.length;j++){
            if(i==1 && j==0)continue;
            newRsA.push(rsA[i]+rsA[j]);
        };
    };
    var newRsB=[];
    for(var i=0;i<rsB.length;i++){
        for(var j=0;j<rsB.length;j++){
            if(i==1 && j==0)continue;
            newRsB.push(rsB[i]+rsB[j]);
        };
    };
    var newRsC=[];
    for(var i=0;i<rsC.length;i++){
        for(var j=0;j<rsC.length;j++){
            if(i==1 && j==0)continue;
            newRsC.push(rsC[i]+rsC[j]);
        };
    };
    console.log(newRsA,newRsB,newRsC);

    //列
    var cols=[newRsA,newRsB,newRsC];
    //行
    var rows=[];
    for(var i=0;i<cols.length;i++){
        var row=[];
        for(var j=0;j<cols[i].length;j++){
            var x=0;
            while(x<cols.length){
                for(var z=0;z<cols[i].length;z++){
                    row.push(cols[i][z]);
                };
                x++;
            };
        };
        rows.push(row);
    };
    console.log(rows);
    var rows2=[];
    var a={};
    for(var i=0;i<rows.length;i++){
        var row=rows[i];
        for(var j=0;j<row.length;j++){
            if(!a['a'+j]){
                a['a'+j]=[row[j]]
            }else{
                a['a'+j].push(row[j])
            };
        };

    };
*/

</script>
<script>
    angular.module('app',[])
            .controller('ctrl',['$scope',function ($scope) {
                var rsA=['c','t']
                var rsB=['a','g']
                var rsC=['z','k']

                var newRsA=[];
                var jsonA={};
                for(var i=0;i<rsA.length;i++){
                    for(var j=0;j<rsA.length;j++){
                        if(i==1 && j==0)continue;
                        newRsA.push(rsA[i]+rsA[j]);
                        if(!jsonA[rsA[i]+rsA[j]]){
                            jsonA[rsA[i]+rsA[j]]=[];
                        };
                    };
                };


                var newRsB=[];
                for(var i=0;i<rsB.length;i++){
                    for(var j=0;j<rsB.length;j++){
                        if(i==1 && j==0)continue;
                        newRsB.push(rsB[i]+rsB[j]);
                    };
                };
                console.log(jsonA)

                var newRsC=[];
                for(var i=0;i<rsC.length;i++){
                    for(var j=0;j<rsC.length;j++){
                        if(i==1 && j==0)continue;
                        newRsC.push(rsC[i]+rsC[j]);
                    };
                };
                var newRsD=['pp','pt','tt']
                console.log(newRsA,newRsB,newRsC,newRsD);
                console.log('')
                //列
                var cols=[];
                var json={};
                cols=cols.concat(newRsA,newRsB,newRsC);
                console.log(cols);
                var len=Math.pow(3,cols.length);
                for(var i=0;i<cols.length;i++){
                    var j=0;
                    while(j<len){
                        if(j%3==0){
                            json[j]
                        }
                        j++;
                    }
                };
                /*for(var i=0;i<cols.length;i++){
                    var row=[];
                    for(var j=0;j<cols[i].length;j++){
                        var x=0;
                        while(x<cols[i].length){
                            console.log(i)
                            for(var z=0;z<cols[i].length;z++){
                                row.push(cols[i][z]);
                            };
                            x++;
                        };
                    };
                    rows.push(row);
                    //rows.sort()
                    console.log(row)
                };
                /*var json={};
                for(var i=0;i<cols.length;i++){
                    var I=i+1<cols.length?i+1:false;
                    if(I || I===0){
                        for(var j=0;j<cols[i].length;j++){
                            //console.log(i,j,I,cols[I])
                            for(var x=0;x<cols[I].length;x++){
                                //console.log(cols[i][j],cols[I][x])
                                console.log(cols[i][j],cols[I][x])
                                var a=0;
                                var b=0
                                if(!json[cols[i][j]]){
                                    json[cols[i][j]]={}
                                    a++
                                }
                                if(!json[cols[i][j]][cols[I][x]]){
                                    json[cols[i][j]][cols[I][x]]={}//cols[I][x]
                                    b++
                                }
                            };
                        };
                        console.log('')
                    };
                };*/
                //console.log(json)
                console.log(rows);
                var rows2=[];
                var a={};
                for(var i=0;i<rows.length;i++){
                    var row=rows[i];
                    for(var j=0;j<row.length;j++){
                        if(!a['a'+j]){
                            a['a'+j]=[row[j]]
                        }else{
                            a['a'+j].push(row[j])
                        };
                    };

                };


                var newArr=[];
                for(var name in a){
                    newArr.push(a[name])
                };*/

                $scope.list=arr;
                console.log($scope.list)
            }])
</script>

<div ng-app="app">
    <div ng-controller="ctrl">
        <table class="table-bordered table table-responsive table-striped table-hover">
            <thead>
                <tr>
                    <td>number</td>
                    <td>rs1</td>
                    <td>rs2</td>
                    <td>rs3</td>
                </tr>
            </thead>
            <tbody>
                <tr
                    ng-repeat="rs in list"
                >
                    <td>{{$index+1}}</td>
                   <td
                    ng-repeat="td in rs"
                   >
                       {{td}}
                   </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

<script>
    /*var rs1=['c','t'];
    var rs2=['a','g'];

    //-->
    rs1=['cc','ct','tt'];
    rs2=['aa','ag','gg'];

    //-->
    var json={
        cc:['aa','ag','gg'],
        ct:['aa','ag','gg'],
        tt:['aa','ag','gg']
    }
    rs1             rs2
    cc      =>      aa
    cc      =>      ag
    cc      =>      gg

    ct      =>      aa
    ct      =>      ag
    ct      =>      gg

    tt      =>      aa
    tt      =>      ag
    tt      =>      gg*/
</script>